@import url('https://fonts.googleapis.com/css2?family=Mako&display=swap');
*{
    font-family: 'Mako', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   /*-------------------- Staheader -----------------------*/
header{
     background-color: #E0B6EB
     ;
}
nav{
    color: #ffffff;
    display: flex;
    /* background-color: #5E3D79; */
    width: 1100px;
    height: 48px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    font-size: 24px;
}
.menu{
    display: flex;   
    font-size: 20px;
}
li{
    list-style: none;
    margin: 20px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
/* ---------Start ST hero------------------------- */
.hero{
  /* background-color:#E0B6EB; */
  width: 1100px;
  margin: auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text-box{
   /* margin: auto; */
   color: #ffffff;
    
}
.hero-button{
   display:flex;
   margin: auto;
   align-items: center;
}
.hero-bt-getsrarted{
    background-color:#592063;
    padding: 8px;
    margin-right: 20px;
    border-radius: 70px;
    width: 138px;
    /* align-items: center; */
    text-align: center;
}    
.hero-bt-watch{
    display:flex;
    align-items: center;
}
.hero-img{

}
.pricingmain{
    /* border-radius: 10px; */
    /* margin: auto; */
    text-align: center;
    /* width: 50px; */
    height: 600px;
} 
.PRICING{
    padding: 20px;
    text-align: center;
    align-items: center;  
}
.Secion-box{
    color: #000000;
    margin: auto;
    justify-content: space-between;
    /* align-items: center; */
    width: 1100px; 
    display: flex;
    
}
.plan{
    border-radius: 5px;
    background-color: white;
    width: 320px;
    height: 400px;
    box-shadow: 0 10px 10px #00000080;
}
.boxs{
    align-items: center;
    margin: 40PX;
    text-align: left;
    color: #4B0D55;
    line-height: 50px;
}
.money{
    margin: 20PX;
    text-align: left;
    color: #000000;
    font-size: 16px;
    line-height: 15px;
}
.freeplan{
    text-align: left;  
    margin: 20px; 
    line-height: 1px; 
    font-size: 14px;
}

.setion-box-plan{
    /* display:flex; */
    /* align-items: center; */
    box-shadow: 0 3px 20px #b7ce9f;
    width: 320px;
    height: 400px;
    /* justify-content: space-between; */
    align-items: center;
    line-height: 50px;
    border-radius: 5px;
}
.plan{
  /* display:flex; */
    /* align-items: center; */
    box-shadow: 0 3px 20px #b7ce9f;
    width: 320px;
    height: 400px;
    /* justify-content: space-between; */
    align-items: center;
    line-height: 50px;
    border-radius: 5px;
}  
.box{
  /* display:flex; */
    /* align-items: center; */
    box-shadow: 0 3px 20px #b7ce9f;
    width: 320px;
    height: 400px;
    /* justify-content: space-between; */
    align-items: center;
    line-height: 50px;
    border-radius: 5px;
}
.contacting{
    text-align: center; 
    height: 600px;
}
.CONTACT{
    padding: 20px;
    text-align: center;
    align-items: center;     
}
.input-name {
    border-radius: 5px;
    font-size: 14px;
    width: 476px;
    height: 30px;
    box-shadow: 0 3px 20px #b7ce9f;
    border: #ffffff;
  }
  .input-email {
    border-radius: 5px;
    font-size: 14px;
    padding: 0px;
    width: 538px;
    border: #ffffff;
    box-shadow: 0 3px 20px #b7ce9f;
    height: 30px;
  }
  .input-subject {
    font-size: 14px;
    border: #ffffff;
    box-shadow: 0 3px 20px #b7ce9f;
    width: 1110px;
    height: 30px;
    border-radius: 5px;
  }
  .input-message {
    resize: none;
    font-size: 14px;
    border: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 20px #b7ce9f;
    width: 1110px;
    height: 190px;
  }
  .fan {
    display: flex;
    justify-content: center;
    gap: 93px;
  }

  .ta{
    text-align: left;
  }
  .black button{
   
  }
  .sendbutton{
    background-color:#592063;
    padding: 8px;
    
    border-radius: 70px;
    width: 138px;
    text-align: center;
    margin: auto;

  }